<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>deplexus</title>
    <link href="{{ get_url(path="style.css", cachebust=true) }}" rel="stylesheet">
  </head>
  <body>
    <script></script>
    <div class="center-content">
      <div id="everything">
        <header>
          <nav>
            <a href="/"><div id="logo"><div></div></div></a>
            <ul>
              <li><a href="/xp/">experience</a></li>
              <li><a href="/blog/">blog</a></li>
              <li><a href="/links/">webring</a></li>
            </ul>
          </nav>
        </header>
        <main>
          {% block content %}{% endblock %}
        </main>
        <footer>
          Copyright My Website
        </footer>
      </div>
    </div>
  </body>
</html>
